**/.DS_Store
**/*.wim*

images/*/work/*
images/*/captured/*
images/*/mount/*
images/*/save/*
images/*/vm/*
images/*/work/*

!sources/windows-pe-x64/*
!install/*template
!install/*
!sources/*


install/drivers/*

tests/*

**/*_old*
**/_config.*
**/config.*

!.gitignore
!**/*.sample*

.idea/
